@CHARSET "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, textarea, select {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
	font: inherit;
	line-height: 1em;
	text-decoration: none;
	list-style: none;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	color: #F5F5DC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	overflow: hidden;
}

hr {
	background-color: #202020;
	height: 1px;
	border: 0;
	border-bottom: 1px solid #404040;
}
